body.login {
    background-color:#fff;
    border-top:4px solid #315da6;
    background: url('../images/kirkwood.jpg') no-repeat 50% 50% / cover;
}
#logo {
    background: url('../images/city_logo_64.png') no-repeat;
    width:64px; height:64px; line-height:64px;
    display:inline-block;
    float:none;
}
